*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.heading {
    font-size: 22px;
    font-weight: 550;
    color: darkgrey;
}
.subHeading {
    color: darkgrey;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
.App {
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 40%;
    height: 70%;
}

